@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto'), local('Roboto-Regular'), url(https://fonts.gstatic.com/s/roboto/v18/KFOmCnqEu92Fr1Mu4mxK.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: local('Roboto Bold'), local('Roboto-Bold'), url(https://fonts.gstatic.com/s/roboto/v18/KFOlCnqEu92Fr1MmWUlfBBc4.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: local('Montserrat Regular'), local('Montserrat-Regular'), url(https://fonts.gstatic.com/s/montserrat/v12/JTUSjIg1_i6t8kCHKm459Wlhyw.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/*Use Roboto Bold for headers, Roboto normal for text in headers that are not bolded
use montserrat for the descriptions and use sans-serif as backup*/

/*Universal styles*/

html {
  font-size: 16px;
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}


h1 {
  font-size: 3.3rem;
}

h2 {
  font-size: 2.35rem;
}

h3 {
  font-size: 1.55rem;
}

p {
  font-size: 0.85rem;
  line-height: 1.1rem;
}

h1, h2, h3, .colmar, a, .start-mobile-title  {
  font-family: "Roboto", "Helvetica", sans-serif;
  font-weight: 700;
  color: #393C3D;
}

.academy, .desktop-bar li  {
  font-family: "Roboto", "Helvetica", sans-serif;
  font-weight: 400;
}

p, .copyright-text,  #cp-text a {
  font-family: "Montserrat", "Garamound", sans-serif;
  color: #5E5D5C;
}

.academy {
  color: #0BF91C;
}


@media only screen and (max-width: 1190px) {
  h1 {
    font-size: 2.5rem;
  }

  h2 {
    font-size: 2.1rem;
  }

  h3 {
    font-size: 1.3rem;
  }

  p {
    font-size: 0.75rem;
    line-height: 1.1rem;
  }
}

@media only screen and (max-width: 1190px) {
  h1 {
    font-size: 2.2rem;
  }

  h2 {
    font-size: 1.8rem;
  }

  h3 {
    font-size: 1.1rem;
  }

  p {
    font-size: 0.7rem;
    line-height: 1.1rem;
  }
}

/*Fixed Header Bar at top*/

header {
  height: 4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  position: fixed;
  width: 100%;
  z-index: 1;
  background-color: white;
  border-bottom: 1px solid #0BF91C;
}

nav li {
  display: inline-block;
}

nav a {
  border-radius: 5px;
  padding: 0.1875rem 0.3125rem;
  transition:  color 750ms linear;
}

nav a:hover {
  color: #0BF91C;
}

.mobile {
  display: none;
}

.desktop-logo, .desktop-bar {
  display: flex;
  align-items: center;
}

.desktop-logo {
  height: 2rem;
  font-size: 1.5rem;
}

.nav-spacing {
  margin-right: 0.375rem;
}

.desktop-bar {
  font-size: 1rem;
}

main {
  position: relative;
  top: 4rem;
}

    /*mobile sizing*/
@media only screen and (max-width: 700px) {
  .desktop {
    display: none;
  }
  .mobile {
    display: block;
    width: 100%;
  }
  .mobile-bar {
    display: flex;
    justify-content: space-between;
  }
  .mobile-bar img {
    height: 2.5rem;
  }
}

/*Large Block 1 "learn something"*/

.learn {
  background-color: #DEDBD8;
  display: flex;
  align-items: center;
  width: 100%;
  border-bottom: 1px solid #0BF91C;
}

.learn-banner {
  width: 60%;
  padding: 2rem 1.5rem;
}

.learn-text {
  width: 40%;
}

.learn-banner img {
  width: 100%;
}

.learn-line {
  width: 85%;
  margin-bottom: 2.5rem;
}

.button {
  width: 70%;
  padding-top: 0.50rem;
  padding-bottom: 0.50rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  background-color: #393C3D;
  font-size: 1.5rem;
  border-radius: 5px;
  transition: background-color 750ms ease-in;
}

.button:hover {
  background-color: #0BF91C;
}

.button a {
  width: 100%;
  text-align: center;
  color: white;
}

@media only screen and (max-width: 1190px) {
  .button {
    width: 85%;
  }
}

    /*mobile sizing*/
@media only screen and (max-width: 700px) {
  .learn {
    background-color: #DEDBD8;
    display: flex;
    flex-direction: column;
    width: 100%;
    border-bottom: 1px solid #0BF91C;
  }

  .learn-banner {
    width: 100%;
    padding: 0;
    margin-bottom: 2rem;
  }

  .learn-banner img {
    width: 100%;
    height: auto;
  }

  .learn-text {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .learn-line:nth-child(2n+0) {
    margin-bottom: 1.5rem;
  }

  .mobile-line {
    margin-bottom: 2rem;
  }

  .learn-text:nth-child(1n+0) {
    margin-bottom: 2rem;
  }

}

/*Large Block 2 "it doesn't hurt to practice"*/

.practice {
  Display: flex;
  width: 100%;
  border-bottom: 1px solid #0BF91C;
}

.practice-large-block {
  width: 60%;
  border-right: 1px solid #0BF91C;
}

.practice-small-block {
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding-bottom: 2rem;
  padding-top: 1rem;
}

.practice-banner img {
  width: 100%;
}

.practice-banner {
  padding: 2rem 1.5rem;
}

.practice-desc {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  margin-bottom: 2rem;
}

.practice-desc h2 {
  margin-bottom: 1.5rem;
}


.image-block {
  display: flex;
  padding: 1rem 1rem;
  border-radius: 5px;
  transition:  background-color 750ms linear;
}

.image-block:hover {
  background-color: #DEDBD8;
  border-radius: 5px;
  border: 1px solid #0BF91C;
}

.practice-pic {
  width: 35%;
}

.image-text {
  width: 65%;
}

.image-block img {
  width: 100%;
}

.image-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 1rem;
}

.image-text .top {
  margin-top: 0.5rem;
}

.image-text a {
  color: #5F99E8;
}

    /*mobile sizing*/
@media only screen and (max-width: 700px) {
  .practice-small-block {
    width: 100%;
  }

  .image-block {
    display: flex;
    flex-direction: column;
  }

}

/*Large Block 3 "Start Learning"*/

.start {
  padding: 2rem 4.5rem;
  background-color: #DEDBD8;
  text-align: center;
  width: 100%;
  border-bottom: 1px solid #0BF91C;
}

.start-mobile {
  display: none;
}

.start h2 {
  margin-bottom: 1rem;
}

.start-matrix {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.start-section {
  display: flex;
  width: 100%;
}

.start-block {
  width: 33.33%;
  background-color: white;
  margin: 1rem 1rem;
  border-radius: 5px;
  border: 1px solid #0BF91C;
}


.start-block img {
  width: 100%;
}

.start-text {
  height: 10rem;
  padding-top: 1rem;
  padding-left: 1rem;
  padding-bottom: 1.5rem;
  text-align: left;
  padding: 1rem 0.2rem 1.5rem 1rem;
}

.start-text p {
  margin-top: 0.5rem;
}

.start-text h3 {
  padding-bottom: 0.5rem;
}

@media only screen and (max-width: 950px) {
  .start {
    padding-left: 1rem;
    padding-right: 1rem;
  }
}

    /*mobile sizing*/
@media only screen and (max-width: 700px) {
  .start {
    background-color: white;
    border-bottom: 1px solid #0BF91C;
  }

  .start-mobile {
    display: block;
  }

  .start-mobile-title {
    width: 100%;
    padding-left: 1rem;
    padding-top: 1rem;
    padding-bottom: 1.5rem;
    background-color: #DEDBD8;
    border: 1px solid black;
    display: flex;
    justify-content: flex-start;
  }

  .title-bottom-margin {
    margin-bottom: 0.5rem;
  }
}

/*Large Block 4 "Thesis Exhibit"*/

.thesis {
  padding-top: 2rem;
  border-bottom: 1px solid #0BF91C;
}

.thesis h2 {
  text-align: center;
}

.thesis-matrix {
  display: flex;
}

.thesis-block {
  padding: 2rem 1.5rem;
  width: 60%;
}

.thesis-text p {
  margin-top: 0.5rem;
}

.thesis-block video {
  width: 100%;
  margin-bottom: 1.5rem;
}

.thesis-exhibit {
  padding-top: 2rem;
  padding-right: 0.35rem;
  width: 40%;
}

.exhibit-block {
  display: flex;
  width: 100%;
  padding: 1rem 1rem;
  border-radius: 5px;
  transition:  background-color 750ms linear;
}

.exhibit-block:hover {
  border-radius: 5px;
  background-color: #DEDBD8;
  border: 1px solid #0BF91C;
}


.exhibit-image {
  width: 35%;
  margin-right: 1rem;
}

.exhibit-image img {
  width: 100%;
}

.exhibit-text {
  width: 65%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.exhibit-text p {
  margin-top: 1rem;
}

    /*mobile sizing*/
@media only screen and (max-width: 700px) {

}


/*Copyright footer*/

.copyright {
  position: relative;
  top: 4rem;
  display: flex;
  width: 100%;
  justify-content: space-between;
  height: 5rem;
  font-size: 0.75rem;
  padding-top: 1rem;
  background-color: #DEDBD8;
}

.copyright-right li {
  display: inline-block;
  margin-right: 1.5rem;
}

.copyright-left {
  margin-left: 1.5rem;
}


    /*mobile sizing*/
@media only screen and (max-width: 700px) {

}
