@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto'), local('Roboto-Regular'), url(https://fonts.gstatic.com/s/roboto/v18/KFOmCnqEu92Fr1Mu4mxK.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: local('Roboto Bold'), local('Roboto-Bold'), url(https://fonts.gstatic.com/s/roboto/v18/KFOlCnqEu92Fr1MmWUlfBBc4.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: local('Montserrat Regular'), local('Montserrat-Regular'), url(https://fonts.gstatic.com/s/montserrat/v12/JTUSjIg1_i6t8kCHKm459Wlhyw.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/*Use Roboto Bold for headers, Roboto normal for text in headers that are not bolded
use montserrat for the descriptions and use sans-serif as backup*/

/*Universal styles*/

html {
  font-size: 16px;
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}


h1 {
  font-size: 3.3rem;
}

h2 {
  font-size: 2.35rem;
}

h3 {
  font-size: 1.85rem;
}

p {
  font-size: 0.85rem;
}

h1, h2, h3, .colmar {
  font-family: "Roboto", "Helvetica", sans-serif;
  font-weight: 700;
  color: #393C3D;
}

.academy, .desktop-bar li {
  font-family: "Roboto", "Helvetica", sans-serif;
  font-weight: 400;
}

p, .copyright-text, .copyright-right li {
  font-family: "Montserrat", "Garamound", sans-serif;
  color: #C4C3C1;
}

.academy {
  color: #ADADAA;
}

section, footer, h1, h2, h3, h4, span, nav, ul, li, div, header, img {
  border: 1px solid black;
}

/*Fixed Header Bar at top*/

header {
  height: 4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  position: fixed;
  width: 100%;
  z-index: 1;
  background-color: white;
}

nav li {
  display: inline-block;
}

.mobile-bar {
  display: none;
}

.desktop-logo, .desktop-bar {
  display: flex;
  align-items: center;
}

.desktop-logo {
  height: 2rem;
  font-size: 1.5rem;
}

.nav-spacing {
  margin-right: 1rem;
}

.desktop-bar {
  font-size: 1rem;
}

main {
  position: relative;
  top: 4rem;
}

/*Main section incorporating all four blocks for flexbox*/

.learn {
  background-color: #C4C3C1;
  display: flex;
  align-items: center;
  width: 100%;
}

.learn-banner {
  width: 60%;
  padding: 2rem 1.5rem;
}

.learn-text {
  width: 40%;
}

.learn-banner img {
  width: 100%;
}

.learn-line {
  width: 85%;
  margin-bottom: 2.5rem;
}

.button {
  width: 85%;
  padding-top: 0.50rem;
  padding-bottom: 0.50rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  background-color: #393C3D;
  font-size: 1.5rem;
}

/*Large Block 1 "learn something"*/

.practice {
  Display: flex;
  width: 100%;
}

.practice-large-block {
  width: 60%;
}

.practice-small-block {
  width: 40%;
}

.practice-banner img {
  width: 100%;
}

.practice-pic {
  width: 35%;
}

.image-text {
  width: 65%;
}

.image-block img {
  width: 100%;
}

.image-block {
  display: flex;
  padding: 1rem 1rem;
}

.practice-banner {
  padding: 2rem 1.5rem;
}

/*Large Block 2 "it doesn't hurt to practice"*/


/*Large Block 3 "Start Learning"*/


/*Large Block 4 "Thesis Exhibit"*/


/*Copyright footer*/

footer {
  position: relative;
  top: 4rem;
}

/*Media Querries for Mobile*/
